body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #ffd6e0, #ff9aa2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 25px;
    text-align: center;
    width: 90%;
    max-width: 360px;
}

h1 {
    color: #ff2f68;
    font-size: 22px;
}

img {
    width: 200px;
    height: auto;
    border-radius: 15px;
    margin: 15px auto;
    display: block;
}

#mensaje {
    font-size: 14px;
    color: #444;
    margin-top: 5px;
    min-height: 20px;
}


.botones {
    display: flex;
    justify-content: center;
    gap: 15px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

#yes {
    background-color: #ff4d6d;
    color: white;
    animation: latido 1.2s infinite;
}

#no {
    background-color: #adb5bd;
}

.no-triste {
    opacity: 0.6;
    filter: grayscale(80%);
}

@keyframes latido {
    0% { transform: scale(1); }
    50% { transform: scale(1.08); }
    100% { transform: scale(1); }
}
